.env
/files
/public/get
/.idea
/.well-known
/vendor
/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.logchec
yarn-error.log
/storage/*
/public/storage
/public/get
.htaccess

